<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	
	 <bean id="authenticationSuccessHandlerWithoutReferer" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    	<property name="useReferer" value="true" />
     </bean>
	
	   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	      <!--<property name="url" value="jdbc:mysql://localhost:3306/personnel_tracker"/>-->
	      <property name="url" value="jdbc:mysql://personneltracker.c1nazef1u6br.ap-southeast-2.rds.amazonaws.com:3306/personnel_tracker"/>     
	      <property name="username" value="root"/>
	      <property name="password" value="fdg88DSA88"/>
	   </bean>
	   
	   <bean id="employeeHibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	   		<property name="dataSource" ref="dataSource" />
	   		<property name="packagesToScan" value="co.srsp.hibernate"/>
	   		<property name="mappingResources">
	   			<list>
	   				<value>hibernate/Users.hbm.xml</value>
	   				<value>hibernate/Authorities.hbm.xml</value>
					<value>hibernate/Employee.hbm.xml</value>
					<value>hibernate/EmployeeSkillset.hbm.xml</value>
					<value>hibernate/EmployeeToSkillsetRatings.hbm.xml</value>
					<value>hibernate/CompanyPositions.hbm.xml</value>
					<value>hibernate/OrgDepartment.hbm.xml</value>
					
	   			</list>
	   		</property>
	   		<property name="hibernateProperties">
	   			<props>
	   				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
	   				<prop key="hibernate.hbm2ddl.auto">update</prop>
	   				<prop key="hibernate.show_sql">true</prop>
	   			</props>
	   		</property>
	   </bean>

  	 	<bean id="transactionManagerHibernate" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		  <property name="sessionFactory" ref="employeeHibernateSessionFactory" />
	    </bean>
   
  
		<bean id="loginController" class="co.srsp.controller.LoginController">  
		    <property name="defaultTargetUrl" value="/trackerHome" />
	    </bean>
   
   		<bean id="myAuthenticationSuccessHandler"  class="co.srsp.config.SimpleUrlAuthenticationSuccessHandler" />

 
 		<bean id="searchController" class="co.srsp.controller.SearchingPageController">  
	    </bean>
	    
	    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		    <property name="scopes">
		        <map>
		            <entry key="session">
		                <bean class="org.springframework.context.support.SimpleThreadScope"/>
		            </entry>
		        </map>
		    </property>
		</bean>
	    
	    <bean id="testController" class="co.srsp.controller.TestController">  
	    </bean>
	    
	    
	      <bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
			<constructor-arg name="strength" value="11" />
		   </bean>
	  
   	
   	
	   
	   <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
	   		<property name="sessionFactory" ref="employeeHibernateSessionFactory" />
	   </bean>
	   
	   <bean id="usersBusinessObject" class="co.srsp.hibernate.UsersBusinessObjectImpl">
	   			<property name="sessionFactory" ref="employeeHibernateSessionFactory"></property>	
	   </bean>
	   

	    <bean id="authoritiesBusinessObject" class="co.srsp.hibernate.AuthoritiesBusinessObjectImpl">
	   			<property name="sessionFactory" ref="employeeHibernateSessionFactory"></property>	
	   </bean>
	   
	   
	     <bean id="employeeBusinessObject" class="co.srsp.hibernate.EmployeeBusinessObjectImpl">
	   			<property name="sessionFactory" ref="employeeHibernateSessionFactory"></property>	
	   </bean>
	   
	   
	   
</beans>