<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">fdg88DSA88</property>
       <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/personnel_tracker</property> -->
       <property name="hibernate.connection.url">jdbc:mysql://personneltracker.c1nazef1u6br.ap-southeast-2.rds.amazonaws.com:3306/personnel_tracker</property> 
       
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="CompanyPositions.hbm.xml" />
        <mapping resource="Employee.hbm.xml" />
        <mapping resource="UserRoles.hbm.xml" />
        <mapping resource="OrgDepartment.hbm.xml" />
        <mapping resource="Authorities.hbm.xml" />
        <mapping resource="Users.hbm.xml" />
        <mapping resource="EmployeeToSkillsetRatings.hbm.xml" />
        <mapping resource="EmployeeSkillset.hbm.xml" />
    </session-factory>
</hibernate-configuration>
