
._stickFigureElement {
}

.stickFigureElement-active{
  /*margin-left:30%;
  margin-bottom:2%;
  height: 136px;
  width: 55px;
  background: url('../images/profilePics/stickfigure.png') no-repeat 0 0;*/
  /*background-size: 40px 100px;*/
/*  -webkit-animation: nudge 5s linear 2 alternate;
  animation:   nudge 5s linear 2 alternate;*/

  animation-name: nudge;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  animation-play-state: running;
}

img.imgAnime{width: 18px; height: 45px;  margin-left:1%;}

@-webkit-keyframes nudge {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(450px, 0); /*  first value horizontal axis second value vertical axist*/
            transform: translate(450px, 0);
  }


  /*80% {
    -webkit-transform: translate(150px, 0);
            transform: translate(150px, 0);
  } */
}

@keyframes nudge {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }



25% {
  -webkit-transform: rotate(317deg);
          transform: rotate(317deg);
}

  50% {
    -webkit-transform: translate(450px, 0);
            transform: translate(450px, 0);
  }



  /*80% {
    -webkit-transform: translate(150px, 0);
            transform: translate(150px, 0);
  }*/
}



.aboutUsBuzzOne {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: none;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 13s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    /*transform: scale(.9);*/
    transform: rotate(45deg);
    background-color: none;
    border-radius: 100%;
  }

  25% {
    /*transform: scale(.7);*/
    transform: rotate(90deg);
    background-color: none;
  }

  35% {
    /*transform: scale(.5);*/
    transform: rotate(135deg);
    background-color: none;
  }

  50% {
      transform: rotate(180deg);
    background-color: none;
  }

  70% {
      transform: rotate(225deg);
    background-color: none;
  }

  85% {
      transform: rotate(270deg);
    background-color: none;
  }

  100% {
    /*transform: scale(1.1);*/
      transform: rotate(360deg);
    background-color: none;
  }
}


/*html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}*/
