ul.nameSearchPossibles, ul.firstNameSearchPossibles, ul.givenNamesSearchPossibles{
	z-index: 10;
	position:absolute;
	min-width:10%;
	background-color:white;
	list-style-type:none;
	text-shadow: none;
	padding-right:2em;
	border: solid 1.5px #dcdcdc;
	box-shadow: 10px 10px 5px #888888;
    -webkit-padding-start: 10px;
}



ul.nameSearchPossibles li span:hover{
	z-index: 10;
	margin-left:-1em !important;
	padding-left:1em;
	cursor:pointer;
	border-radius:2px;
	/*padding-right:4em; */
	font-weight: bold;

	/*background: linear-gradient (top, #dfdfdf 0%, #d7d7d7 100%);
	background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);*/
}

ul.firstNameSearchPossibles li span:hover{
	z-index: 10;
	margin-left:-1em !important;
	border-radius:2px;
	cursor:pointer;
	padding-left:1em;

	/* padding-right:4em; */
		font-weight: bold;

	/*background: linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);*/
}

.note{
	color:red;
	max-width:85%;
	margin-top:1em;
	margin-left:2em;
}

ul.givenNamesSearchPossibles li span:hover{
	z-index: 10;
	margin-left:-1em !important;
	border-radius:2px;
	padding-left:1em;
	/*padding-right:4em; */
	cursor:pointer;
		font-weight: bold;

/*	background: linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);*/
}

.searchSegment{
	border-top: 1px dotted #A9A9A9;
	border-bottom: 1px dotted #A9A9A9;
	border-right: 0px dotted;
	border-left: 0px dotted;
	min-height:180px;
	max-height:180px;
	margin:1em;
	padding:5px ;
	overflow:hidden ;
	display: block;
	min-width: 90%;
	text-overflow: ellipsis !important; /* means a '...' is added when text falls outside the element boundaries */
	white-space: normal;
}

.skillsetsSearchSummary{
	margin-left: 22%;
}

#resultsSection{
	display:none;
	width: 85%;
	padding: 2.5em;
	margin-top: 3em;
	margin-bottom: 1%;
	margin-left: 15%;
	background-color:  #E5E5E5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 0px solid #000;
	/*box-shadow: 10px 10px 5px #888888;*/
	border-radius: 7px;
}

#searchBook{
	width:30%;
	margin-left: 25%;
	box-shadow: 3px 3px 10px #252728;
}

#searchAgain{
	margin-left: 15%;
}

#resetSearch{

	width:30%;
	box-shadow: 3px 3px 10px #252728;
}
