.login-box {
	width: 30%;
	padding: 10px;
	margin-left: 26%;
	/*margin-top: 1%;*/
	margin-top:-2%;
	margin-bottom:2%;
	background: #fff;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
	transform: scale(0.7);
	-webkit-transition: all 300ms 0ms ease-in-out;
	 transition: all 300ms 0ms ease-in-out;
}

.loginFields{
	width: 100%;
	margin-top:2%;
	min-width:100%;
	margin-left:4em;

}

.errorLabel{
   color:red;
	 display: none;
	 padding: 5px;
   min-width:80%;
   margin-left:0 !important;
}

.signupBtnsDiv{
	margin-bottom: 2.6%;
}

.accordion {
    background: rgba(0,0,0, 0.0) !important;
    color: #444;
    cursor: pointer;
    padding: 1em;
    font-size:1em;
    width: 20%;
    text-align: left;
    border: none;
	  margin-left: 30% !important;
    outline: none;
    transition: 0.7s;
}
.accordion:before {
  content: "\2630";

}

.accordion.active:before {
  content: "\2630";

}

.accordion:after {
    content: "\2796"; /* Unicode character for "plus" sign (+) */
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: '\02795'; /* Unicode character for "minus" sign (-) */
}


element{
	margin-left: 0;
}

.usernameInput {
  padding: 5px;
  min-width:80%;
  margin-left:0 !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 3px;
}

.userFields{
	width:100%;
	margin-left:4em;
	float:right;
	margin-bottom:0.5em;
}

.passFields{
	width:100%;
	min-width:100%;
	float:right;
	margin-left:4em;
}

ul.usernamesSearchPossibles li span:hover{
	z-index: 10;
	margin-left:-1em !important;
	padding-left:1em;
	cursor:pointer;
	border-radius:10px;
	padding-right:3em;
	background: linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
}

ul.usernamesSearchPossibles{
	z-index: 10;
	position:absolute;
	min-width:10%;
	background-color:white;
	list-style-type:none;
	text-shadow: none;
	padding-right:1em;
	border: solid 1.5px #dcdcdc;
	box-shadow: 10px 10px 5px #888888;
    -webkit-padding-start: 10px;
}

 .iconspanLogin {
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 0.6em;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}




.loginButton{width:80%; margin-top:1em; margin-left:4em;}

.retLoginButton{width:95%; margin-top:1em; margin-left:1em;}

@media screen and (max-width:1600px){
	 .login-box.responsive {position: relative; padding:0.5em;margin-left:20%; width:50%;}
	div#loginFields.loginFields.responsive{margin-left:1em;}
}


@media screen and (max-width:1400px){
	 .login-box.responsive {position: relative; padding:0.5em;margin-left:20%; width:50%;}
	div#loginFields.loginFields.responsive{margin-left:1em;}
}

@media screen and (max-width:980px){
 .login-box.responsive {position: relative; padding:0.5em;margin:1em; width:95%;}
 button.loginButton.responsive{margin-left:2em; width:80%;}
 .login-box.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {

  	div#loginFields.loginFields.responsive{margin-top: 0em;}
   div.logoimg.responsive{display:none;}

 ul.topnav.responsive {position: relative; padding:0;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


@media screen and (max-width:580px){
	 button.loginButton.responsive{margin-left:2em; width:80%;}
}

@media screen and (max-width:420px){
	 button.loginButton.responsive{margin-left:1em; width:93%;}
}
