@media screen and (max-width:1800px){
  .searchSegment.responsive{
      max-height:240px;
  }

  .facetSidebar.responsive{
    margin-top: 9%;
  }
}

@media screen and (max-width:1600px){
   .culture.responsive img{
     margin-left: 0%;
   }

   .searchSegment.responsive{
       max-height:260px;
   }

   div.quote1.responsive{
     font-size: 1.7rem;
     margin-top: -25%;
     margin-bottom:10%;
     margin-left: 30%;
     width: 30%;
   }

   .profilePicImg.responsive img{
      width: 170px;
      height: 170px;
   }


   div.quote2.responsive{
   	  font-size: 1.7rem;
   		font-style: italic;

   }

}

@media screen and (max-width:1400px){

  .facetSidebar.responsive{
    margin-top: 9.5%;
  }

  .searchSegment.responsive{
      max-height:300px;
  }

 div.quote1.responsive{
   margin-top: -20%;
   margin-bottom:10%;
   margin-left: 25%;
 }

 .profilePicImg.responsive img{
    width: 155px;
    height: 155px;
 }

  contactForm.responsive{
    margin-left: 65%;
    margin-top: -50%;
    margin-bottom: 5%;
    position: static;
  }

  .contactImg.responsive img{
     width: 240px;
     height: 90px;
  }

  .culture.responsive img{
    width: 180px;
    height: 150px;
  }

  .culture2.responsive img{
    width: 180px;
    height: 150px;
  }



  div.sectionContent.responsive {
  	  margin-left: 14%;
  		width: 17%;
  }

  section.responsive{
      margin-left: -5%;
  }

  div.carouselAndBuzzSection.responsive{
     margin-top:-65%;

  }

  .pageHeaderLogo.responsive{
  		width:50%;
  }
}

@media screen and (max-width:1300px){
  div.carouselAndBuzzSection.responsive{
     margin-top:-75%;

  }
}

@media screen and (max-width:1200px){
  div.carouselAndBuzzSection.responsive{
     margin-left: 32%;
  }

  form.contactForm.responsive{
    margin-top: -75%;
  }

  .facetSidebar.responsive{
    margin-top: 10.8%;
  }

  .searchSegment.responsive{
      max-height:320px;
  }

  .contactImg.responsive img{
     margin-left: 15%;
  }

  div.quote1.responsive{
    font-size: 1.6rem;
    margin-left: 28%;
  }

   div.quote2.responsive{
     font-size: 1.6rem;
   }

}


@media screen and (max-width:1080px){

  .profilePicImg.responsive img{
     width: 140px;
     height: 140px;
  }

  /* .ui-dialog.responsive{
    max-width:50%;
  } */

  #resultsSection.responsive{
    width: 80%;
    margin-left: 22%;
  }

  .groupData.responsive{
    margin-left: -20%;
  }

  .searchSegment.responsive{
      margin-left: -10%;
  }


  .facetSidebar.responsive{
    margin-top: 12.7%;
    margin-left: -2%;
    max-width: 22%;
  }

  div.sectionContent.responsive{
      margin-left: 25%;
      width: 30%;
  }

  div.carouselAndBuzzSection.responsive{
     margin-left: 5%;
     margin-top:5%;
      max-width:80%;
  }

   div.quote1.responsive{
     font-size: 1.5rem;
   }

    div.quote2.responsive{
      font-size: 1.5rem;
    }

  .culture.responsive img{
    width: 150px;
    height: 125px;
  }

  .culture2.responsive img{
    width: 150px;
    height: 125px;
  }

}

@media screen and (max-width:920px){

  .aboutUsSpiel.responsive{
    max-width:85%;
  }

  form.contactForm.responsive{
    margin-left: 10%;
    margin-top: 10%;
  }

  .contactImg.responsive img{
     margin-left: 25%;
  }

  div.quote1.responsive{
     margin-top: -25%;
  }


  div.quote2.responsive{
     margin-left: 35%;
     margin-top: -25%;
  }

  .culture1.responsive img{

  }


    .culture2.responsive img{
      margin-left: 62%;
    }



  .pageHeaderLogo.responsive{
  		width:90%;
  }

  .scalable.responsive{
  		font-size:3rem;
  }

  .customizable.responsive{
  		font-size:2rem;
  }

  .enterpriseWideSolution.responsive{
  		font-size:2.5rem;
      top: -25px;
      left: 130px;
  }

  .lightweight.responsive{
  		font-size:1.5rem;
      top: -60px;
  }

  .mainSpiel.responsive{
     max-width:80%;
     margin-left: -5%;
     margin-bottom: 5%;
  }

}

@media screen and (max-width:800px){
  div.carouselAndBuzzSection.responsive{
     margin-left: 0%;
     margin-top:5%;
      max-width:85%;
  }

  .main-box.responsive{
    width:90%;
    margin-left: 5%;
  }


    div.quote1.responsive{
       margin-top: -25%;
       margin-left: 40%;
       font-size: 1.4rem;
    }


    div.quote2.responsive{
       margin-left: 15%;
       margin-top: -25%;
        font-size: 1.4rem;
    }


      .culture1.responsive img{
         margin-left: 10%;
      }


        .culture2.responsive img{
          margin-left: 46%;
        }


  div.sectionContent.responsive{
      margin-left: 25%;
      width: 60%;
  }

  section.responsive{
    margin-left: 0%;
  }

}


@media screen and (max-width:720px){
  .profilePicImg.responsive img{
     width: 120px;
     height: 120px;
  }

  .facetSidebar.responsive{
    margin-top: 16.1%;
    margin-left: -2%;
    max-width: 22%;
  }

  .searchSegment.responsive{
      max-height:350px;
  }

}



@media screen and (max-width:600px){
  div.carouselAndBuzzSection.responsive{
     margin-left: -5%;
     margin-top:5%;
      max-width:85%;
  }

  .profilePicImg.responsive img{
     width: 100px;
     height: 100px;
  }

  .facetSidebar.responsive{
    margin-top: 16.1%;
    margin-left: -2%;
    max-width: 26%;
  }

  #resultsSection.responsive{
    width: 70%;
    margin-left: 28%;
  }

  .searchSegment.responsive{
      max-height:580px;
  }

  section.responsive{
    margin-left: -8%;
  }

 ._stickFigureElement.responsive{
   display:none;
 }

}

@media screen and (max-width:510px){
  div.sectionContent.responsive{
      margin-left: 30%;
      width: 50%;
  }

  .demo.responsive{
    font-size: 10px;
  }

  .searchSegment.responsive{
      max-height:690px;
  }

  .groupData.responsive{
         margin-left: -40%;
  }

  div.carouselAndBuzzSection.responsive{
     margin-left: -15%;
     margin-top:10%;
      max-width:95%;
  }

  div.quote1.responsive{
     margin-top: -43%;
     margin-left: 65%;
     font-size: 1.3rem;
  }


  div.quote2.responsive{
     margin-left: 5%;
     margin-top: -43%;
      font-size: 1.3rem;
  }

  .culture1.responsive img{
     margin-top: 15%;
  }

  .contactImg.responsive img{
     margin-left: 15%;
     width: 200px;
     height: 66px;
  }

    .culture2.responsive img{

    }


}

@media screen and (max-width:470px){

  .facetSidebar.responsive{
    margin-top: 20.1%;
    margin-left: -2%;
    max-width: 26%;
  }

  div.sectionContent.responsive{
      margin-left: 35%;
      width: 45%;
  }

  .searchSegment.responsive{
      max-height:890px;
  }

  div.carouselAndBuzzSection.responsive{
     margin-left: -15%;
     margin-top:10%;
      max-width:85%;
  }

  .contactImg.responsive img{
     margin-left: 13%;
  }

  section.responsive{
    margin-left: -11%;
  }

  .scalable.responsive{
      font-size:2.5rem;
  }

  .customizable.responsive{
      font-size:1.6rem;
  }

  .enterpriseWideSolution.responsive{
      font-size:2.1rem;
      top: -25px;
      left: 30px;
  }

  .lightweight.responsive{
      font-size:1.2rem;
      top: -50px;
      left: 150px;
  }
}

@media screen and (max-width:420px){
  .contactImg.responsive img{
     margin-left: 10%;
  }

}

@media screen and (max-width:370px){
  div.sectionContent.responsive{
      margin-left: 35%;
      width: 50%;
  }

  .facetSidebar.responsive{
    margin-top: 25%;
  }


  section.responsive{
    margin-left: -20%;
  }

}

@media screen and (max-width:350px){
  .contactImg.responsive img{
     margin-left: 1%;
  }

}
